@using PulseApp.Protos
@using PulseApp.Helpers

@inject CalendarManager.CalendarManagerClient CalendarService


<div class="modal fade show" id="myModal" style="display:block" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Calendar</h4>
                <button type="button" class="close" @onclick="OnCancelModal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="form-group col-md-6">
                    <label for="firstName">Name</label>
                    <input @bind="Current.Name" type="text" class="form-control" id="name" placeholder="Calendar Name">
                </div>
                <div class="form-group col-md-6">
                    <label for="start">Start</label>
                    <DateEdit TValue="DateTime" @bind-Date="@start" />
                    @*<input @bind="Start" type="text" class="form-control" id="start" placeholder="Start Date">*@
                </div>
                <div class="form-group col-md-6">
                    <label for="start">Weekends</label>
                    <Weekdays Days="Current.Weekends"></Weekdays>
                    @*<input @bind="Start" type="text" class="form-control" id="start" placeholder="Start Date">*@
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn" @onclick="@OnCancelModal">Cancel</button>
                <button type="button" class="btn btn-primary" @onclick=@OnConfirmModal>Save</button>
            </div>

        </div>
    </div>
</div>


@code {

    [Parameter]
    public CalendarProto Current { get; set; }

    private DateTime start;

    [Parameter]
    public EventCallback<MouseEventArgs> OnCancelCallback { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnConfirmCallback { get; set; }

    protected override async Task OnInitializedAsync()
    {
        start = Current.StartDate.ToDateTime();
    }

    private void OnCancelModal()
    {
        Current = null;
        OnCancelCallback.InvokeAsync();
    }

    private void OnConfirmModal()
    {
        Current.StartDate = start.ToDate();
        Current.Weekends = "0000011";
        OnConfirmCallback.InvokeAsync();
    }
}
