@using PulseApp.Data

@inject CalendarService CalendarService


    <div class="modal fade show" id="myModal" style="display:block" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Mark Attendance</h4>
                    <button type="button" class="close" @onclick="OnCancelModal">&times;</button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <div class="form-group col-md-6">
                            <label for="start">Start</label>
                            <input @bind="Current.StartDate" type="text" class="form-control" id="start" placeholder="start">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group col-md-6">
                            <label for="end">End</label>
                            <input @bind="Current.EndDate" type="text" class="form-control" id="end" placeholder="end">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn" @onclick="@OnCancelModal">Cancel</button>
                    <button type="button" class="btn btn-primary" @onclick=@OnConfirmModal>Save</button>
                </div>

            </div>
        </div>
    </div>


@code {

    [Parameter]
    public CalendarDto Current { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnCancelCallback { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnConfirmCallback { get; set; }


    private void OnCancelModal()
    {
        Current = null;
        OnCancelCallback.InvokeAsync();
    }

    private void OnConfirmModal()
    {
        OnConfirmCallback.InvokeAsync();
    }
}
