@using PulseApp.Data
@using PulseApp.Constants

@inject CalendarService CalendarService

@if(DayTypeList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="modal fade show" id="myModal" style="display:block" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Mark Attendance</h4>
                    <button type="button" class="close" @onclick="OnCancelModal">&times;</button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="attendanceType">Attendance Type:</label>
                        <select @bind="SelectedDayTypeId" class="form-control" id="attendanceType">
                            @foreach (var type in DayTypeList)
                            {
                                <option value="@type.Id">@type.Code - @type.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="comments">Comments</label>
                        <textarea @bind="Current.Comments" class="form-control" id="comments" rows="3"></textarea>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn" @onclick="@OnCancelModal">Cancel</button>
                    <button type="button" class="btn btn-primary" @onclick=@OnConfirmModal>Save</button>
                </div>

            </div>
        </div>
    </div>
}


@code {

    private DayType[] DayTypeList { get; set; }

    [Parameter]
    public CalendarDayDto Current { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnCancelCallback { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnConfirmCallback { get; set; }

    private string SelectedDayTypeId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetDayTypes();

        SelectedDayTypeId = Current.DayTypeId.ToString();
    }

    private async Task GetDayTypes()
    {
        DayTypeList = await CalendarService.GetDayTypesAsync();
    }

    private void OnCancelModal()
    {
        SelectedDayTypeId = null;
        Current = null;
        OnCancelCallback.InvokeAsync();
    }

    private void OnConfirmModal()
    {
        Current.DayTypeId = int.Parse(SelectedDayTypeId);

        OnConfirmCallback.InvokeAsync();
    }
}
